#NavBar {
    background-color: #255F63;
}

#NavBrand {
    font-family: 'Vidaloka', serif;
    font-size: 70px; 
    color: #ECB865
}

#SignUp {
    font-family: 'Vidaloka', serif;
    font-size: 30px;
    color: #ECB865; 
    text-decoration: none;
}

#Dashboard{
    padding: 10px; 
    font-family: 'Vidaloka', serif;
    color: #ECB865; 
    font-size: 30px; 
    text-decoration: none;
}
#adoption{
    padding: 10px; 
    font-family: 'Vidaloka', serif;
    color: #ECB865; 
    font-size: 30px; 
    text-decoration: none;

}
#Logout {
    padding: 10px; 
    font-family: 'Vidaloka', serif;
    color: #ECB865; 
    font-size: 30px; 
    text-decoration: none;
}
#Profile{
    padding: 10px; 
    font-family: 'Vidaloka', serif;
    color: #ECB865; 
    font-size: 30px; 
    text-decoration: none;
}