#Navbar {
    background-color: #255F63;
}

#NavBrand {
    font-family: 'Vidaloka', serif;
    font-size: 70px; 
    color: #ECB865
}

#SignUp {
    font-family: 'Vidaloka', serif;
    font-size: 30px;
    color: #ECB865
}